// p-card {
//   margin: 1rem;
// }

h2 {
  margin-top: 0;
}

.RecipeCard {
  &-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  // &-links {
  //   a {
  //     margin-right: 2rem;
  //   }
  // }
}

.updated {
  float: right;
  margin: 1rem;
}
