<ng-container *ngIf="!(loading | async) && selectedRecipe">
  <app-recipe
    [recipe]="selectedRecipe"
    [displayOptions]="currentUser.id === selectedRecipe.author.id"
    (onUpvote)="upvote(selectedRecipe.id)"
    (onDownvote)="downvote(selectedRecipe.id)"
  ></app-recipe>
  <p-card header="Comments">
    <p *ngFor="let comment of selectedRecipe.comments">
      <span class="commentAuthor">{{ comment?.author?.username }}: </span
      >{{ comment.comment }}
    </p>
  </p-card>
</ng-container>
