.updated {
  float: right;
  margin: 1rem;
  font-style: italic;
}

.desc {
  max-width: 80%;
  text-align: justify;
}

span.votes {
  margin: 0 1rem;
  font-weight: bold;
}

p-footer a {
  margin-left: 1rem;
}

p-card h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 0 0.5rem 0;
}
