.updated {
  float: right;
  margin: 1rem;
  font-style: italic;
}

.options {
  float: right;
}

.options button {
  margin-top: 1rem;
  margin-right: 1rem;
}

.created {
  font-style: italic;
  margin-bottom: .25rem;
}

.desc {
  max-width: 600px;
  width: 100%;
  text-align: justify;
}

span.votes {
  margin: 0 1rem;
  font-weight: bold;
}

p-footer a {
  margin-left: 1rem;
}

p-card h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 0 0.5rem 0;
}
