<p-card>
  <h2>
    <a [routerLink]="['/recipes', recipe.id]">{{ recipe.title }}</a>
  </h2>
  <p-header class="options" *ngIf="displayOptions">
    <button 
    pButton
    [routerLink]="['/recipes', recipe.id, 'edit']"
    icon="fa fa-pencil"
    class="ui-button-secondary"></button>
    <button 
    pButton
    (click)="onDelete.emit()"
    icon="fa fa-trash"
    class="ui-button-danger"></button>
  </p-header>
  <p class="created">Created by {{ recipe.author?.username }} on {{recipe.created | date}}</p>
  <div class="desc">{{ recipe.description }}</div>
  <p-footer>
    <button
      pButton
      (click)="onUpvote.emit()"
      icon="fa fa-arrow-up"
      class="ui-button-info"
    ></button>
    <span class="votes">{{ recipe.upvotes - recipe.downvotes || 0 }}</span>
    <button
      pButton
      (click)="onDownvote.emit()"
      icon="fa fa-arrow-down"
      class="ui-button-danger"
    ></button>
    <a [routerLink]="['/recipes', recipe.id]"
      >Comments: ({{ recipe.comments?.length || 0 }})
    </a>
    <button
      pButton
      icon="fa fa-bookmark"
      class="ui-button-warning"
      style="float: right"
    ></button>
  </p-footer>
</p-card>
