/* You can add global styles to this file, and also import other style files */

body {
  // background-color: #3e4551;
  background-color: #efefef;
  margin: 0;
}

// p-card behavior
.ui-card {
  margin: 1rem 0;
}
@media (max-width: 768px) {
  .ui-card {
    margin: 0;
  }
}

.ui-progress-spinner {
  display: block;
  top: 25vh;
}